In [20]:
import pandas as pd
import random

In [5]:
agg = pd.read_csv('Data/agg_response/combined_single_response_agg', sep='\t')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
agg.head()

,SOURCE,CELL,DRUG,STUDY,AUC,IC50,EC50,EC50se,R2fit,Einf,HS,AAC1,AUC1,DSS1
0,CCLE,CCLE.1321N1,CCLE.1,fake_exp,0.8330,4.883,5.183,0.5746,0.9864,0.2017,0.7463,0.1017,0.8983,0.0551
1,CCLE,CCLE.1321N1,CCLE.10,fake_exp,0.7909,5.217,5.217,2.2840,0.6526,0.0000,0.8993,0.1136,0.8864,0.0728
2,CCLE,CCLE.1321N1,CCLE.11,fake_exp,0.5255,7.120,7.168,0.0295,0.9962,0.1014,2.0400,0.5310,0.4690,0.5032
3,CCLE,CCLE.1321N1,CCLE.12,fake_exp,0.8532,4.881,4.881,8547.0000,-0.2764,0.0000,4.0000,0.0040,0.9960,0.0001
4,CCLE,CCLE.1321N1,CCLE.14,fake_exp,0.5688,6.911,6.946,0.1882,0.8392,0.1218,3.4770,0.4633,0.5367,0.4439

#### gCSI

In [25]:
gCSI = pd.read_csv('Data/drugs/gCSI_drugs1', sep='\t')
gCSI.head()

       ID         NAME   CLEAN_NAME
0  gCSI.1     BI-D1870      BID1870
1  gCSI.2   Bortezomib   BORTEZOMIB
2  gCSI.3   Crizotinib   CRIZOTINIB
3  gCSI.4    Docetaxel    DOCETAXEL
4  gCSI.5  Doxorubicin  DOXORUBICIN

In [26]:
gCSI_merge = pd.merge(gCSI, agg, left_on='ID', right_on='DRUG')

In [40]:
drugs = list(gCSI_merge['ID'].values)
ten_rando_drugs = random.sample(drugs, 11)
gCSI10 = gCSI_merge[gCSI_merge['ID'].isin(ten_rando_drugs)]

In [41]:
gCSI10['ID'].value_counts()

gCSI.13    409
gCSI.12    409
gCSI.6     405
gCSI.16    403
gCSI.15    403
gCSI.2     403
gCSI.5     402
gCSI.14    402
gCSI.8     400
gCSI.7     400
Name: ID, dtype: int64

In [80]:
gCSI_dragon = pd.merge(gCSI10, dragon7, left_on='ID', right_on='NAME')
gCSI_dragon.head()

,ID,NAME_x,CLEAN_NAME,SOURCE,CELL,DRUG,STUDY,AUC,IC50,EC50,...,CATS3D_10_LL,CATS3D_11_LL,CATS3D_12_LL,CATS3D_13_LL,CATS3D_14_LL,CATS3D_15_LL,CATS3D_16_LL,CATS3D_17_LL,CATS3D_18_LL,CATS3D_19_LL
0,gCSI.2,Bortezomib,BORTEZOMIB,gCSI,gCSI.1321N1,gCSI.2,237549,0.4366,7.408,7.410,...,na,na,na,na,na,na,na,na,na,na
1,gCSI.2,Bortezomib,BORTEZOMIB,gCSI,gCSI.23132-87,gCSI.2,237550,0.4678,7.193,7.193,...,na,na,na,na,na,na,na,na,na,na
2,gCSI.2,Bortezomib,BORTEZOMIB,gCSI,gCSI.769-P,gCSI.2,237551,0.6026,7.171,7.254,...,na,na,na,na,na,na,na,na,na,na
3,gCSI.2,Bortezomib,BORTEZOMIB,gCSI,gCSI.786-0,gCSI.2,237552,0.4579,7.331,7.341,...,na,na,na,na,na,na,na,na,na,na
4,gCSI.2,Bortezomib,BORTEZOMIB,gCSI,gCSI.8305C,gCSI.2,237553,0.3999,7.720,7.743,...,na,na,na,na,na,na,na,na,na,na

In [82]:
gCSI_final = pd.merge(gCSI_dragon, rna_seq, left_on='CELL', right_on='Sample')

In [87]:
gCSI_final.head()

,ID,NAME_x,CLEAN_NAME,SOURCE,CELL,DRUG,STUDY,AUC,IC50,EC50,...,ZMIZ1,ZMYM2,ZNF131,ZNF274,ZNF318,ZNF395,ZNF451,ZNF586,ZNF589,ZW10
0,gCSI.2,Bortezomib,BORTEZOMIB,gCSI,gCSI.23132-87,gCSI.2,237550,0.4678,7.193,7.193,...,3.86,4.8,4.72,4.13,4.03,1.0,3.97,3.82,3.78,5.49
1,gCSI.5,Doxorubicin,DOXORUBICIN,gCSI,gCSI.23132-87,gCSI.5,238765,0.6157,6.361,6.378,...,3.86,4.8,4.72,4.13,4.03,1.0,3.97,3.82,3.78,5.49
2,gCSI.6,Erlotinib,ERLOTINIB,gCSI,gCSI.23132-87,gCSI.6,239167,0.9656,NaN,7.394,...,3.86,4.8,4.72,4.13,4.03,1.0,3.97,3.82,3.78,5.49
3,gCSI.7,GDC-0941,GDC0941,gCSI,gCSI.23132-87,gCSI.7,239572,0.8134,NaN,6.879,...,3.86,4.8,4.72,4.13,4.03,1.0,3.97,3.82,3.78,5.49
4,gCSI.8,Gemcitabine,GEMCITABINE,gCSI,gCSI.23132-87,gCSI.8,239972,0.5592,7.191,7.304,...,3.86,4.8,4.72,4.13,4.03,1.0,3.97,3.82,3.78,5.49

##### CCLE

In [42]:
CCLE = pd.read_csv('Data/drugs/CCLE_drugs1', sep='\t')
CCLE.head()

       ID        NAME CLEAN_NAME
0  CCLE.1      AEW541     AEW541
1  CCLE.2   Nilotinib  NILOTINIB
2  CCLE.3      17-AAG      17AAG
3  CCLE.4  PHA-665752  PHA665752
4  CCLE.5   Lapatinib  LAPATINIB

In [43]:
CCLE_merge = pd.merge(CCLE, agg, left_on='ID', right_on='DRUG')

In [66]:
drugs = list(CCLE_merge['ID'].values)
ten_rando_drugs = random.sample(drugs, 12)
CCLE10 = CCLE_merge[CCLE_merge['ID'].isin(ten_rando_drugs)]

In [67]:
CCLE10['ID'].value_counts()

CCLE.8     504
CCLE.5     504
CCLE.22    504
CCLE.1     503
CCLE.15    503
CCLE.4     503
CCLE.24    503
CCLE.12    503
CCLE.9     491
CCLE.17    434
Name: ID, dtype: int64

In [88]:
CCLE_dragon = pd.merge(CCLE10, dragon7, left_on='ID', right_on='NAME')
CCLE_dragon.head()

,ID,NAME_x,CLEAN_NAME,SOURCE,CELL,DRUG,STUDY,AUC,IC50,EC50,...,CATS3D_10_LL,CATS3D_11_LL,CATS3D_12_LL,CATS3D_13_LL,CATS3D_14_LL,CATS3D_15_LL,CATS3D_16_LL,CATS3D_17_LL,CATS3D_18_LL,CATS3D_19_LL
0,CCLE.1,AEW541,AEW541,CCLE,CCLE.1321N1,CCLE.1,fake_exp,0.8330,4.883,5.183,...,na,na,na,na,na,na,na,na,na,na
1,CCLE.1,AEW541,AEW541,CCLE,CCLE.22RV1,CCLE.1,fake_exp,0.7153,5.660,5.660,...,na,na,na,na,na,na,na,na,na,na
2,CCLE.1,AEW541,AEW541,CCLE,CCLE.42MGBA,CCLE.1,fake_exp,0.8126,5.570,5.764,...,na,na,na,na,na,na,na,na,na,na
3,CCLE.1,AEW541,AEW541,CCLE,CCLE.5637,CCLE.1,fake_exp,0.7833,5.284,5.284,...,na,na,na,na,na,na,na,na,na,na
4,CCLE.1,AEW541,AEW541,CCLE,CCLE.639V,CCLE.1,fake_exp,0.7675,5.267,5.597,...,na,na,na,na,na,na,na,na,na,na

In [89]:
CCLE_final = pd.merge(CCLE_dragon, rna_seq, left_on='CELL', right_on='Sample')

In [93]:
CCLE_final.head()

,ID,NAME_x,CLEAN_NAME,SOURCE,CELL,DRUG,STUDY,AUC,IC50,EC50,...,ZMIZ1,ZMYM2,ZNF131,ZNF274,ZNF318,ZNF395,ZNF451,ZNF586,ZNF589,ZW10
0,CCLE.1,AEW541,AEW541,CCLE,CCLE.22RV1,CCLE.1,fake_exp,0.7153,5.660,5.660,...,3.22,4.85,4.46,3.98,4.77,1.58,3.9,4.19,3.88,5.37
1,CCLE.4,PHA-665752,PHA665752,CCLE,CCLE.22RV1,CCLE.4,fake_exp,0.9074,NaN,5.620,...,3.22,4.85,4.46,3.98,4.77,1.58,3.9,4.19,3.88,5.37
2,CCLE.5,Lapatinib,LAPATINIB,CCLE,CCLE.22RV1,CCLE.5,fake_exp,0.8148,5.111,5.111,...,3.22,4.85,4.46,3.98,4.77,1.58,3.9,4.19,3.88,5.37
3,CCLE.8,PF2341066,PF2341066,CCLE,CCLE.22RV1,CCLE.8,fake_exp,0.8051,5.298,5.360,...,3.22,4.85,4.46,3.98,4.77,1.58,3.9,4.19,3.88,5.37
4,CCLE.9,L-685458,L685458,CCLE,CCLE.22RV1,CCLE.9,fake_exp,0.8944,4.782,4.866,...,3.22,4.85,4.46,3.98,4.77,1.58,3.9,4.19,3.88,5.37

##### CTRP

In [111]:
CTRP = pd.read_csv('Data/drugs/CTRP_drugs1', sep='\t')
CTRP.head()

       ID                       NAME               CLEAN_NAME
0  CTRP.1  16-beta-bromoandrosterone  16BETABROMOANDROSTERONE
1  CTRP.2                     17-AAG                    17AAG
2  CTRP.3                1S-3R-RSL-3                 1S3RRSL3
3  CTRP.4                  3-Cl-AHPC                  3CLAHPC
4  CTRP.5                       5-FU                      5FU

In [112]:
CTRP_merge = pd.merge(CTRP, agg, left_on='ID', right_on='DRUG')

In [113]:
drugs = list(CTRP_merge['ID'].values)
ten_rando_drugs = random.sample(drugs, 14)
CTRP10 = CTRP_merge[CTRP_merge['ID'].isin(ten_rando_drugs)]

In [114]:
CTRP10['ID'].value_counts()

CTRP.448    868
CTRP.282    866
CTRP.23     863
CTRP.306    851
CTRP.222    850
CTRP.491    848
CTRP.325    846
CTRP.532    844
CTRP.274    808
CTRP.440    775
CTRP.68     731
CTRP.498    617
CTRP.180    426
CTRP.101    228
Name: ID, dtype: int64

In [115]:
CTRP_dragon = pd.merge(CTRP10, dragon7, left_on='ID', right_on='NAME')
CTRP_dragon.head()

,ID,NAME_x,CLEAN_NAME,SOURCE,CELL,DRUG,STUDY,AUC,IC50,EC50,...,CATS3D_10_LL,CATS3D_11_LL,CATS3D_12_LL,CATS3D_13_LL,CATS3D_14_LL,CATS3D_15_LL,CATS3D_16_LL,CATS3D_17_LL,CATS3D_18_LL,CATS3D_19_LL
0,CTRP.23,AZD0530,AZD0530,CTRP,CTRP.2004,CTRP.23,646957,0.7639,5.040,5.040,...,na,na,na,na,na,na,na,na,na,na
1,CTRP.23,AZD0530,AZD0530,CTRP,CTRP.22RV1,CTRP.23,315876,0.8192,3.880,3.880,...,na,na,na,na,na,na,na,na,na,na
2,CTRP.23,AZD0530,AZD0530,CTRP,CTRP.23132-87,CTRP.23,268780,0.8735,4.604,4.604,...,na,na,na,na,na,na,na,na,na,na
3,CTRP.23,AZD0530,AZD0530,CTRP,CTRP.253J,CTRP.23,260786,0.7041,5.790,5.806,...,na,na,na,na,na,na,na,na,na,na
4,CTRP.23,AZD0530,AZD0530,CTRP,CTRP.253J-BV,CTRP.23,257114,0.7726,5.286,5.286,...,na,na,na,na,na,na,na,na,na,na

In [116]:
CTRP_final = pd.merge(CTRP_dragon, rna_seq, left_on='CELL', right_on='Sample')

In [117]:
CTRP_final['ID'].value_counts()

CTRP.448    796
CTRP.23     793
CTRP.282    792
CTRP.306    780
CTRP.491    778
CTRP.325    772
CTRP.532    771
CTRP.274    736
CTRP.498    552
CTRP.180    415
Name: ID, dtype: int64

##### GCSD

In [68]:
GDSC = pd.read_csv('Data/drugs/GDSC_drugs1', sep='\t')
GDSC.head()

       ID        NAME CLEAN_NAME
0  GDSC.1   Erlotinib  ERLOTINIB
1  GDSC.3   Rapamycin  RAPAMYCIN
2  GDSC.5   Sunitinib  SUNITINIB
3  GDSC.6  PHA-665752  PHA665752
4  GDSC.9      MG-132      MG132

In [69]:
GDSC_merge = pd.merge(GDSC, agg, left_on='ID', right_on='DRUG')

In [72]:
drugs = list(GDSC_merge['ID'].values)
ten_rando_drugs = random.sample(drugs, 10)
GDSC10 = GDSC_merge[GDSC_merge['ID'].isin(ten_rando_drugs)]

In [73]:
GDSC10['ID'].value_counts()

GDSC.1036    1849
GDSC.329      980
GDSC.249      978
GDSC.1259     959
GDSC.184      932
GDSC.175      932
GDSC.1031     895
GDSC.1024     895
GDSC.1005     895
GDSC.37       434
Name: ID, dtype: int64

In [118]:
GDSC_dragon = pd.merge(GDSC10, dragon7, left_on='ID', right_on='NAME')
GDSC_dragon.head()

,ID,NAME_x,CLEAN_NAME,SOURCE,CELL,DRUG,STUDY,AUC,IC50,EC50,...,CATS3D_10_LL,CATS3D_11_LL,CATS3D_12_LL,CATS3D_13_LL,CATS3D_14_LL,CATS3D_15_LL,CATS3D_16_LL,CATS3D_17_LL,CATS3D_18_LL,CATS3D_19_LL
0,GDSC.37,Crizotinib,CRIZOTINIB,GDSC,GDSC.697,GDSC.37,115310,0.7144,5.7140,5.7140,...,na,na,na,na,na,na,na,na,na,na
1,GDSC.37,Crizotinib,CRIZOTINIB,GDSC,GDSC.8-MG-BA,GDSC.37,43091,0.9520,NaN,1.4390,...,na,na,na,na,na,na,na,na,na,na
2,GDSC.37,Crizotinib,CRIZOTINIB,GDSC,GDSC.A101D,GDSC.37,31952,0.9244,1.8380,1.8380,...,na,na,na,na,na,na,na,na,na,na
3,GDSC.37,Crizotinib,CRIZOTINIB,GDSC,GDSC.A253,GDSC.37,128016,0.9622,NaN,7.2540,...,na,na,na,na,na,na,na,na,na,na
4,GDSC.37,Crizotinib,CRIZOTINIB,GDSC,GDSC.A3-KAW,GDSC.37,116120,0.9008,0.0884,0.0884,...,na,na,na,na,na,na,na,na,na,na

In [119]:
GDSC_final = pd.merge(GDSC_dragon, rna_seq, left_on='CELL', right_on='Sample')

In [120]:
GDSC_final['ID'].value_counts()

GDSC.1036    1163
GDSC.249      628
GDSC.329      627
GDSC.1259     611
GDSC.184      609
GDSC.175      609
GDSC.1031     559
GDSC.1024     559
GDSC.1005     559
GDSC.37       244
Name: ID, dtype: int64

##### Dragon 7

In [10]:
dragon7 = pd.read_csv('Data/drug_descriptors/combined_dragon7_descriptors', sep='\t')
dragon7.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (3,4,7,8,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,111,112,113,114,115,116,117,118,119,120,121,122,123,124,153,154,197,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,447,448,449,450,451,452,453,454,455,456,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,892,893,894,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,935,936,937,938,939,940,941,942,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,983,984,985,986,987,988,989,990,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1031,1032,1033,1034,1035,1036,1037,1038,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1079,1080,1081,1082,1083,1084,1085,1086,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1148,1149,1150,1151,1152,1153,1154,1155,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1196,1197,1198,1199,1200,1201,1202,1203,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,4923,4924,4925,4927,4928,4933,4934,4935,4936,4937,4938,4939) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,NAME,MW,AMW,Sv,Se,Sp,Si,Mv,Me,Mp,...,CATS3D_10_LL,CATS3D_11_LL,CATS3D_12_LL,CATS3D_13_LL,CATS3D_14_LL,CATS3D_15_LL,CATS3D_16_LL,CATS3D_17_LL,CATS3D_18_LL,CATS3D_19_LL
0,CCLE.1,439.61,7.090,39.143,61.44,41.620,69.683,0.631,0.991,0.671,...,na,na,na,na,na,na,na,na,na,na
1,CCLE.10,475.40,8.804,34.718,54.523,36.597,61.160,0.643,1.01,0.678,...,na,na,na,na,na,na,na,na,na,na
2,CCLE.11,349.47,7.132,30.762,48.796,32.540,55.066,0.628,0.996,0.664,...,na,na,na,na,na,na,na,na,na,na
3,CCLE.12,464.86,9.685,33.422,50.32,33.148,54.906,0.696,1.048,0.691,...,na,na,na,na,na,na,na,na,na,na
4,CCLE.13,586.75,7.244,50.33,81.392,52.694,91.308,0.621,1.005,0.651,...,na,na,na,na,na,na,na,na,na,na

##### RNA-Seq

In [11]:
rna_seq = pd.read_csv('Data/rna-seq/combined_rnaseq_data_lincs1000', sep='\t')
rna_seq.head()

,Sample,AARS,ABCB6,ABCC5,ABCF1,ABCF3,ABHD4,ABHD6,ABL1,ACAA1,...,ZMIZ1,ZMYM2,ZNF131,ZNF274,ZNF318,ZNF395,ZNF451,ZNF586,ZNF589,ZW10
0,CCLE.22RV1,8.31,7.17,4.12,5.64,6.04,3.94,2.08,5.24,5.23,...,3.22,4.85,4.46,3.98,4.77,1.58,3.90,4.19,3.88,5.37
1,CCLE.2313287,8.94,6.30,3.83,6.60,5.99,6.34,3.72,4.67,5.78,...,3.86,4.80,4.72,4.13,4.03,1.00,3.97,3.82,3.78,5.49
2,CCLE.253J,7.58,6.53,3.59,5.94,5.77,5.93,2.35,4.84,4.50,...,3.22,3.61,3.80,4.31,3.20,0.60,2.11,2.69,1.97,3.69
3,CCLE.253JBV,7.79,6.01,4.05,6.44,5.97,5.58,2.89,5.09,4.39,...,3.74,3.81,3.99,4.21,3.93,0.98,2.24,2.47,2.60,4.14
4,CCLE.42MGBA,7.84,6.72,3.09,6.92,5.43,5.38,3.99,5.85,5.17,...,5.48,3.04,4.95,4.79,3.52,1.24,3.08,2.44,2.10,5.65

##### Write to CSV

In [121]:
GDSC_final.to_csv('GDSC_dragon.csv')

In [122]:
CCLE_final.to_csv('CCLE_dragon.csv')

In [123]:
CTRP_final.to_csv('CTRP_dragon.csv')

In [124]:
gCSI_final.to_csv('gCSI_dragon.csv')